[workspace]
# Use the new resolver to prevent dev-deps and build-deps from enabling debugging or test features in production.
#
# > If you are using a virtual workspace, you will still need to explicitly set the resolver field in the [workspace]
#   definition if you want to opt-in to the new resolver.
# https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html#details
resolver = "2"
members = [
    "examples/abigen",
    "examples/contracts",
    "examples/cookbook",
    "examples/debugging",
    "examples/predicates",
    "examples/providers",
    "examples/rust_bindings",
    "examples/types",
    "examples/wallets",
    "packages/fuels",
    "packages/fuels-code-gen",
    "packages/fuels-core",
    "packages/fuels-macros",
    "packages/fuels-programs",
    "packages/fuels-signers",
    "packages/fuels-test-helpers",
    "packages/fuels-types",
    "packages/wasm-tests",
    "scripts/test-projects",
    "scripts/check-docs",
]

[workspace.package]
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/fuels-rs"
rust-version = "1.67.0"
version = "0.35.0"

[workspace.dependencies]
fuel-asm = "0.25"
fuel-crypto = "0.25"
fuel-merkle = "0.25"
fuel-storage = "0.25"
fuel-tx = "0.25"
fuel-types = "0.25"
fuel-core = { version = "0.16", default-features = false }
fuel-core-client = "0.16"
fuel-core-chain-config = "0.16"
fuel-core-types = "0.16"
fuel-vm = "0.25"
fuels = { version = "0.35.0", path = "./packages/fuels" }
fuels-code-gen = { version = "0.35.0", path = "./packages/fuels-code-gen" }
fuels-core = { version = "0.35.0", path = "./packages/fuels-core" }
fuels-macros = { version = "0.35.0", path = "./packages/fuels-macros" }
fuels-programs = { version = "0.35.0", path = "./packages/fuels-programs" }
fuels-signers = { version = "0.35.0", path = "./packages/fuels-signers" }
fuels-test-helpers = { version = "0.35.0", path = "./packages/fuels-test-helpers" }
fuels-types = { version = "0.35.0", path = "./packages/fuels-types" }
