[workspace]
# Use the new resolver to prevent dev-deps and build-deps from enabling debugging or test features in production.
#
# > If you are using a virtual workspace, you will still need to explicitly set the resolver field in the [workspace]
#   definition if you want to opt-in to the new resolver.
# https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html#details
resolver = "2"
members = [
    "examples/abigen",
    "examples/contracts",
    "examples/cookbook",
    "examples/debugging",
    "examples/predicates",
    "examples/providers",
    "examples/rust_bindings",
    "examples/types",
    "examples/wallets",
    "packages/fuels",
    "packages/fuels-accounts",
    "packages/fuels-code-gen",
    "packages/fuels-core",
    "packages/fuels-macros",
    "packages/fuels-programs",
    "packages/fuels-test-helpers",
    "packages/wasm-tests",
    "scripts/check-docs",
]

[workspace.package]
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
readme = "README.md"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/fuels-rs"
rust-version = "1.71.1"
version = "0.46.0"

[workspace.dependencies]
Inflector = "0.11.4"
async-trait = { version = "0.1.73", default-features = false }
bech32 = "0.9.1"
bytes = { version = "1.4.0", default-features = false }
chrono = "0.4.26"
elliptic-curve = { version = "0.13.5", default-features = false }
eth-keystore = "0.5.0"
fuel-abi-types = "0.3.0"
futures = "0.3.28"
hex = { version = "0.4.3", default-features = false }
itertools = "0.11.0"
portpicker = "0.1.1"
proc-macro2 = "1.0.66"
quote = "1.0.32"
rand = { version = "0.8.5", default-features = false, features = ["std_rng", "getrandom"] }
regex = "1.9.3"
serde = { version = "1.0.183", default-features = false }
serde_json = "1.0.104"
serde_with = { version = "3.2.0", default-features = false }
sha2 = { version = "0.10.7", default-features = false }
strum = "0.25.0"
strum_macros = "0.25.2"
syn = "2.0.28"
tai64 = { version = "4.0.0", default-features = false }
tempfile = { version = "3.7.1", default-features = false }
thiserror = { version = "1.0.46", default-features = false }
tokio = { version = "1.31.0", default-features = false }
trybuild = "1.0.82"
which = { version = "4.4.0", default-features = false }

# Dependencies from the `fuel-core` repository:
fuel-core = { version = "0.20.3", default-features = false }
fuel-core-chain-config = { version = "0.20.3", default-features = false }
fuel-core-client = { version = "0.20.3", default-features = false }
fuel-core-types = { version = "0.20.3", default-features = false }

# Dependencies from the `fuel-vm` repository:
fuel-asm = "0.35.3"
fuel-crypto = "0.35.3"
fuel-merkle = "0.35.3"
fuel-storage = "0.35.3"
fuel-tx = "0.35.3"
fuel-types = { version = "0.35.3", default-features = false }
fuel-vm = "0.35.3"

# Workspace projects
fuels = { version = "0.46.0", path = "./packages/fuels" }
fuels-accounts = { version = "0.46.0", path = "./packages/fuels-accounts", default-features = false }
fuels-code-gen = { version = "0.46.0", path = "./packages/fuels-code-gen", default-features = false }
fuels-core = { version = "0.46.0", path = "./packages/fuels-core", default-features = false }
fuels-macros = { version = "0.46.0", path = "./packages/fuels-macros", default-features = false }
fuels-programs = { version = "0.46.0", path = "./packages/fuels-programs", default-features = false }
fuels-test-helpers = { version = "0.46.0", path = "./packages/fuels-test-helpers", default-features = false }
