[workspace]
# Use the new resolver to prevent dev-deps and build-deps from enabling debugging or test features in production.
#
# > If you are using a virtual workspace, you will still need to explicitly set the resolver field in the [workspace]
#   definition if you want to opt-in to the new resolver.
# https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html#details
resolver = "2"
members = [
    "examples/abigen",
    "examples/contracts",
    "examples/cookbook",
    "examples/debugging",
    "examples/predicates",
    "examples/providers",
    "examples/rust_bindings",
    "examples/types",
    "examples/wallets",
    "packages/fuels",
    "packages/fuels-code-gen",
    "packages/fuels-core",
    "packages/fuels-macros",
    "packages/fuels-programs",
    "packages/fuels-accounts",
    "packages/fuels-test-helpers",
    "packages/fuels-types",
    "packages/wasm-tests",
    "scripts/check-docs",
]

[workspace.package]
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/fuels-rs"
rust-version = "1.68.0"
version = "0.38.1"

[workspace.dependencies]
fuel-asm = "0.26"
fuel-crypto = "0.26"
fuel-merkle = "0.26"
fuel-storage = "0.26"
fuel-tx = "0.26"
fuel-types = "0.26"
fuel-abi-types = "0.2.1"
fuel-core = { version = "0.17", default-features = false }
fuel-core-client = "0.17"
fuel-core-chain-config = "0.17"
fuel-core-types = "0.17"
fuel-vm = "0.26"
fuels = { version = "0.38.1", path = "./packages/fuels" }
fuels-code-gen = { version = "0.38.1", path = "./packages/fuels-code-gen", default-features = false }
fuels-core = { version = "0.38.1", path = "./packages/fuels-core", default-features = false }
fuels-macros = { version = "0.38.1", path = "./packages/fuels-macros", default-features = false }
fuels-programs = { version = "0.38.1", path = "./packages/fuels-programs", default-features = false }
fuels-accounts = { version = "0.38.1", path = "./packages/fuels-accounts", default-features = false }
fuels-test-helpers = { version = "0.38.1", path = "./packages/fuels-test-helpers", default-features = false }
fuels-types = { version = "0.38.1", path = "./packages/fuels-types", default-features = false }