[package]
name = "fuels-accounts"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
description = "Fuel Rust SDK accounts."

[dependencies]
async-trait = { workspace = true, default-features = false }
chrono = { workspace = true }
cynic = { workspace = true, optional = true }
elliptic-curve = { workspace = true, default-features = false }
eth-keystore = { workspace = true, optional = true }
fuel-core-client = { workspace = true, optional = true }
fuel-core-types = { workspace = true }
fuel-crypto = { workspace = true, features = ["random"] }
fuel-tx = { workspace = true }
fuel-types = { workspace = true, features = ["random"] }
fuels-core = { workspace = true, default-features = false }
itertools = { workspace = true }
rand = { workspace = true, default-features = false }
semver = { workspace = true }
tai64 = { workspace = true, features = ["serde"] }
thiserror = { workspace = true, default-features = false }
tokio = { workspace = true, features = ["full"], optional = true }
zeroize = { workspace = true, features = ["derive"] }

[dev-dependencies]
fuel-tx = { workspace = true, features = ["test-helpers", "random"] }
tempfile = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }

[features]
default = ["std"]
coin-cache = ["tokio?/time"]
std = [
  "fuels-core/std",
  "dep:tokio",
  "fuel-core-client/default",
  "dep:eth-keystore",
  "dep:cynic",
]
