[package]
name = "fuels-programs"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
description = "Fuel Rust SDK contracts."

[dependencies]
async-trait = { workspace = true, default-features = false }
fuel-abi-types = { workspace = true }
fuel-asm = { workspace = true }
fuel-tx = { workspace = true }
fuel-types = { workspace = true, features = ["default"] }
fuels-accounts = { workspace = true }
fuels-core = { workspace = true }
itertools = { workspace = true }
rand = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }

[dev-dependencies]
test-case = { workspace = true }
tempfile = "3.8.1"

[features]
default = ["std"]
std = ["fuels-core/std", "fuels-accounts/std"]
