[package]
name = "fuels-macros"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
description = "Fuel Rust SDK macros to generate types from ABI."

[lib]
proc-macro = true

[dependencies]
fuels-code-gen = { workspace = true }
itertools = { workspace = true }
proc-macro2 = { workspace = true }
quote = { workspace = true }
syn = { workspace = true, features = ["extra-traits"] }

[dev-dependencies]
trybuild = { workspace = true }

