[package]
name = "fuels-core"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
description = "Fuel Rust SDK core."

[dependencies]
async-trait = { workspace = true, default-features = false }
bech32 = { workspace = true }
chrono = { workspace = true }
fuel-abi-types = { workspace = true }
fuel-asm = { workspace = true }
fuel-core-chain-config = { workspace = true }
fuel-core-client = { workspace = true, optional = true }
fuel-core-types = { workspace = true }
fuel-crypto = { workspace = true }
fuel-tx = { workspace = true }
fuel-types = { workspace = true, features = ["default"] }
fuel-vm = { workspace = true }
fuels-macros = { workspace = true }
hex = { workspace = true, features = ["std"] }
itertools = { workspace = true }
postcard = { version = "1", default-features = true, features = ["alloc"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true, default-features = true }
sha2 = { workspace = true }
thiserror = { workspace = true, default-features = false }
uint = { workspace = true, default-features = false }
rand = { workspace = true }
auto_impl = { workspace = true }

[dev-dependencies]
fuel-tx = { workspace = true, features = ["test-helpers", "random"] }
tokio = { workspace = true, features = ["test-util", "macros"] }

[features]
default = ["std"]
std = ["dep:fuel-core-client", "fuel-core-types/std"]
fault-proving = ["fuel-core-chain-config/fault-proving", "fuel-core-types/fault-proving", "fuel-core-client?/fault-proving"]
