[package]
name = "fuels"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
readme = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
description = "Fuel Rust SDK."

[package.metadata.cargo-machete]
ignored = ["fuel-core"]

[dependencies]
fuel-core-client = { workspace = true, optional = true }
fuel-crypto = { workspace = true }
fuel-tx = { workspace = true }
fuels-accounts = { workspace = true, default-features = false }
fuels-core = { workspace = true }
fuels-macros = { workspace = true }
fuels-programs = { workspace = true }
fuels-test-helpers = { workspace = true, optional = true }

[features]
default = ["std", "fuels-test-helpers?/fuels-accounts", "coin-cache"]
coin-cache = ["fuels-accounts/coin-cache"]
test-helpers = ["dep:fuels-test-helpers", "fuels-accounts/test-helpers"]

# The crates enabled via `dep:` below are not currently wasm compatible, as
# such they are only available if `std` is enabled. The `dep:` syntax was
# used so that we don't get a new feature flag for every optional dependency.
std = [
  "dep:fuel-core-client",
  "fuels-programs/std",
  "dep:fuels-test-helpers",
  "fuels-accounts/std",
  "fuels-core/std",
  "fuels-test-helpers?/std",
]
fuel-core-lib = ["fuels-test-helpers?/fuel-core-lib"]
rocksdb = ["fuels-test-helpers?/rocksdb"]
kms-signer = ["fuels-accounts/kms-signer"]
