[package]
name = "fuels"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
readme = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
description = "Fuel Rust SDK."

[package.metadata.cargo-machete]
ignored = ["fuel-core"]

[dependencies]
fuel-core = { workspace = true, default-features = false, optional = true }
fuel-core-client = { workspace = true, optional = true }
fuel-tx = { workspace = true }
fuels-accounts = { workspace = true, optional = true }
fuels-core = { workspace = true }
fuels-macros = { workspace = true }
fuels-programs = { workspace = true, optional = true }
fuels-test-helpers = { workspace = true, optional = true }

[dev-dependencies]
fuels-code-gen = { workspace = true }
chrono = { workspace = true }
fuel-core = { workspace = true, default-features = false }
fuel-core-types = { workspace = true }
fuels-test-helpers = { workspace = true }
hex = { workspace = true, default-features = false }
sha2 = { workspace = true }
tempfile = { workspace = true }
tokio = { workspace = true }

[features]
default = ["std", "fuels-test-helpers?/fuels-accounts"]
# The crates enabled via `dep:` below are not currently wasm compatible, as
# such they are only available if `std` is enabled. The `dep:` syntax was
# used so that we don't get a new feature flag for every optional dependency.
std = [
  "dep:fuel-core-client",
  "dep:fuels-accounts",
  "dep:fuels-programs",
  "dep:fuels-test-helpers",
  "fuels-programs?/std",
  "fuels-core/std",
  "fuels-accounts?/std",
  "fuels-test-helpers?/std",
]
# TODO: To be removed once https://github.com/FuelLabs/fuels-rs/issues/881 is unblocked.
test-type-paths = []
fuel-core-lib = ["fuels-test-helpers?/fuel-core-lib", "dep:fuel-core"]
rocksdb = ["fuel-core?/rocksdb"]
